/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* My CSS: */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

#header, #middle_left, #middle_right, #footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    grid-column: 1 / 4;
}

div, button {
    /* Temporary for spacing */
    /* outline: 1px black solid; */

    border: none;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

#middle_left{
    justify-items: end;
}

#middle_middle {
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#middle_right {
    justify-items: start;
}

.cell {
    background-color: white;
    justify-self: center;
    height: 100%;
    width: 100%;
}

#footer {
    grid-column: 1 / 4;
}

.border_hor {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.border_ver {
    border-left: 2px solid black;
    border-right: 2px solid black;
}